/*Header goes below*/
header {
    text-align: center;
}

body {
    background-color: gray;
}

/*Main goes below*/
main {
    max-width: 800px;
    margin: auto;
}
/*Screen CSS to center the content*/
#start-screen, #quiz-screen, #end-screen, #high-scores {
    text-align: center;
}

/*This should hide elements*/
.hide {
    display: none;
}
